# .NET
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.vs/
.vscode/

# Angular / Node
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
npm-debug.log
yarn-error.log
.idea/
.DS_Store

# Local Env files
.env
.env.local
