<div class="flex items-center justify-center h-96 rounded-2xl  bg-white">
  <div class="bg-white shadow-2xl rounded-2xl p-6 w-screen max-w-md text-[#3E261A]">
    <h3 class="text-2xl font-extrabold text-left mb-6 text-[#3E261A]">
      Crear Categoría
    </h3>

    <form [formGroup]="categoryForm" (ngSubmit)="createCategory()">
      <!-- Campo de Nombre -->
      <div class="mb-4">
        <label for="nombre" class="block text-sm font-medium text-amber-950 mb-1">
          Nombre de la categoría
        </label>
        <input
          id="nombre"
          class="w-full px-4 py-2 bg-white bg-opacity-50 border border-amber-100/50 rounded-lg shadow-md
                 focus:ring-2 focus:ring-cyan-500 focus:outline-none focus:ring-opacity-50 text-amber-950 placeholder-gray-400
                 transition-all duration-300"
          formControlName="nombre"
          placeholder="Ingrese el nombre"
          [ngClass]="{'border-red-500': categoryForm.get('nombre')?.invalid && categoryForm.get('nombre')?.touched}"
        />
        <div
          *ngIf="categoryForm.get('nombre')?.invalid && categoryForm.get('nombre')?.touched"
          class="text-red-500 text-sm mt-1"
        >
          ⚠ El nombre es obligatorio y debe tener máximo 40 caracteres.
        </div>
      </div>

      <!-- Botones -->
      <div class="flex gap-4">
        <!-- Botón Crear -->
        <button
          class="w-full py-2.5 px-4 bg-[#8E4E2A] hover:bg-[#7D411F] text-white font-semibold rounded-lg shadow-md transition-all hover:scale-105"
          type="submit"
          [disabled]="categoryForm.invalid"
        >
          🚀 Crear Categoría
        </button>

        <!-- Botón Volver -->
        <button
          class="w-full py-2 px-4 bg-[#E6DCD3] hover:bg-[#D8C9B9] text-[#3E261A] font-bold rounded-lg shadow-md transition-all"
          type="button"
          (click)="goBack()"
        >
          ⬅ Volver
        </button>
      </div>
    </form>
  </div>
</div>
