<div class="p-4 min-h-screen text-[#3E261A] rounded-lg shadow-lg mt-4 bg-gradient-to-r from-blue-400 to-cyan-500 text-[#3E261A]">
  <!-- <h1 class="text-3xl font-bold text-left mb-6">Gestión de Roles</h1> -->

  <div class="p-6 bg-gradient-to-br from-blue-400 via-gray-800 to-cyan-500 text-[#3E261A] rounded-lg shadow-xl ">

    <div >
      <app-rol-list [roles]="roles"></app-rol-list>
    </div>

    <!-- Sección para Crear Producto (Derecha) -->
    <!-- <div class="col-span-1">
      <app-rol-add></app-rol-add>
    </div> -->

  </div>
</div>
